[Unit]
Description=Cloudapp web application service
After=cloud-final.service
After=network.target

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target

[Service]
Type=simple
ExecStart=sh /opt/CloudAppRelease/start.sh
Restart=always
RestartSec=3
WorkingDirectory=/opt/CloudAppRelease
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225
User=csye6225
Group=csye6225